* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(to top right, lightblue, blue, lightpink);
}

main {
  width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

h1 {
  text-align: center;
}

form {
  padding: 5px;
  margin: 5px;
}

form .form-element {
  border-bottom: solid grey 1px;
  height: 60px;
}

label {
  color: rgb(122, 121, 121);
  font-size: 0.7rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-bottom: 10px;
}

input {
  display: block;
  border: none;
  width: 200px;
}

input::placeholder {
  color: lightgray;
}

form .form-element .select {
  position: relative;
}

.select {
  min-width: 15ch;
  max-width: 30ch;
  line-height: 1.1;
}

.budget textarea {
  border: none;
}

.submit {
  width: 200px;
  height: 50px;
  position: absolute;
  bottom: 80px;
}

.submit button {
  width: 225px;
  height: 35px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  background-image: linear-gradient(to right, fuchsia, blue);
  display: grid;
  grid-template-columns: 200px 10px;
  place-items: center;
}

img.arrow {
  width: 15px;
}

input:valid {
  background-color: green;
}

input:invalid {
  background-color: red;
}

input:focus {
  background-color: pink;
}
